---
layout: page
title: Collaborations
permalink: /shooting/
image:
uid: collaborations
---

<section class="pt-4">
  <div class="container">

    <div class="row">
      <div class="col">

          <p>When I shoot, my goal is to create beautiful and creative content while
            giving that person the ultimate shooting experience, independently of the collaboration type
            or the style we are shooting. Every photoshoot is a unique experience created and executed
            together, from idea, concept development and execution.

            The section below goes through some of the ways we can collaborate, my vision and values behind
            photography and content creation. Enjoy.
          </p>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="image-wrapper float-left pr-3">
          <img src="/assets/images/photography/attica-windows-15-bw.jpg" alt="">
        </div>
        <div class="single-post-content-wrapper p-3">
          {% if site.posts.size > 0 %}
            {% for post in site.posts | sort: "date" %}
              {% if post.featured and post.categories contains "Photography" %}
                <h4 id="{{post.uid}}" class="title-border text-center pt-3">{{post.title_long}}</h4>
                <p>{{ post.content }}</p>

              {% endif %}
            {% endfor %}
          {% endif %}
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col">
        <div>
          <h4 id="values" class="title-border text-center">Values</h4>
          <p>Given my photography style and created content, there are a few foundational core values that are
            a center of gravity throughout my work. These are not only values I believe in and follow but are also
            good for anyone in front or behind the camera.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="image-wrapper float-right pl-4 mt-2">
          <img src="/assets/images/photography/dani-01.jpg" alt="">
        </div>
        <div class="single-post-content-wrapper p-3">
            <ul class="list-unstyled">
              <li><span class="font-italic font-weight-bold">Safety and Comfort Zones</span> - Goes without saying,
              everyone doing a more intimate shooting (or really kind of collaboration), should always be and feel safe.

                This might be the most important aspect to be clarified and something I always tell to every model,
                collaborator, client or partner: only shoot with someone that makes you comfortable and will allow
                you to be/feel safe. If you feel better and
                safer to come to the shooting with a chaperone, that person should always be more than welcome (extra
                points if that person is also willing to help in case of the need of an assistant ;). This is something
                I always do, but really, I believe should be common practice for everyone.
                This is especially important for the styles that I shoot. There are too many horror stories around and these
                aspects should never be negotiable. Not comfortable? Don't shoot.

                Please take some time to look at some safety tips in my FAQ section and to check the "Preparing for
                a Session" section to find more info about it.
              </li>
              <li><span class="font-italic font-weight-bold">Communication and Transparency</span> - The previous value
                cannot be fully fulfilled without honest and transparent communication and alignemnt of intent/goals.
                The first thing I always ask my collaborators to do is to fill out an online form that will ask about
                themselves, experiences, comfort zones, shooting styles they are wanting to shoot, their goals,
                etc. After this, many other actions are taken to make sure we have verbal and written agreement on
                our vision for the shoot. (more info in the "Preparing for a Session" section below)
                In addition to this, constant communication through chat and collaboration on concepts (usually through
                Pinterest), helps ensure that everyone is on the same page.
              </li>
              <li><span class="font-italic font-weight-bold">Trust</span> - This goes hand to hand with the previous
              point. Intimate photography is very personal and, even with more candid concepts, creating trust and a
              connection between everyone involved is very important. It allows the subject express themselves in front
              of the camera being themselves with not only to release the best version of themselves but also create a
              real and positive experience.

              I shoot content that has no nudity whatsoever to sexually explicit images so it's important to make sure
              my policy is clear: that is, to keep images that contain full nipples, vagina and penis private unless
              we agree to share on any platform. For instance, I share most of that content on OnlyFans after agreeing
              with other content creators.

              Of course, trust is for someone to earn and is not given. For this reason, try to make everything possible
              through these values themselves, to show to my clients/collaborators/friends/self that they are
              my highest priority.
              </li>
              <li><span class="font-italic font-weight-bold">Privacy</span> - As a photographer who specializes in
              intimate photography, respecting and caring for everyone's privacy is so obvious that it's easy to
              forget. Instead, I like to make it really explicit and clear that mutual respect and care for everyone's
              privacy is not optional. People always comes first when it comes to sharing content and I live by that.
              What happens behind closed doors stays between you and the camera and only share/use what we agree to.
              <li><span class="font-italic font-weight-bold">Teamwork</span> - Everyone involved in a shoot is part of
              the success. Collaboration, communication and transparency are crucial for creating a
              wonderful experience that results in beautiful work. Every photo shoot is different and unique because
              it comes from ideas and collaboration of everyone.</li>
            </ul>
        </div>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-md-12">
        <div>
          <h4 class="title-border text-center">Vision</h4>
          <p>I started my photography by mistake and accidentally fell in love with the several aspects that,
            slowly, also became centerpieces of my artistic vision.
          </p>
        </div>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-md-12">
        <div class="image-wrapper float-left pr-4 mt-2">
          <img src="/assets/images/photography/mabel-pearls-10.jpg" alt="">
        </div>
        <div class="single-post-content-wrapper p-3">
          <ul class="list-unstyled">
            <li><span class="font-italic font-weight-bold">Empower</span> - This might be the most powerful thing that
              I found in my photography. The feeling of fulfillment and excitement triggered when my clients/models/friends
              say "OMG, is that me?" or "Thank you! I feel so beautiful." or "Wow, I can't believe I actually
              made it!" is incredible! We all have struggled with the impossible standards of beauty and happiness that
              society and media impose to us and capturing beauty beyond that is very rewarding.
            </li>
            <li><span class="font-italic font-weight-bold">Free</span> - This is a follow up from the previous item.
              Part of the shooting process rotates around letting my subjects express themselves and their beauty free
              of judgment or taboo. We all have different opinions on what we classify as "nudity" and what is
              "appropriate". I work with my models and collaborators on this before we get to shoot so we don't have
              worry about that and we know that what needs to stay private remains private.
            </li>

            <li><span class="font-italic font-weight-bold">Sensual and Beautiful</span> - Sensuality and sexuality
            are often pictured as "wrong". They are part of human nature and we should embrace it. My photography is
            always striving to unifying these raw emotions with beauty and elegance to create unique content. </li>

          </ul>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <h4 id="session-types" class="text-center pt-5">Session Types</h4>
        <h5 class="title-border text-center">Boudoir, Implied, Bodyscapes, Erotic... which one is for you?</h5>

        <p> The terms "boudoir", "implied", "nude" and "erotic" are sometimes personal to the professional who
          claims the specialty and so they may mean something entirely different to each photographer and models
          who offers these packages. As mentioned before, communication and transparency are key so I'd like to
          give a bit more context to my own interpretation.</p>

        <p>Please read through my session style descriptions below to learn what they mean to me so that you are
          sure to book the session style that is right for you since each of these styles of session have an
          entirely different session experience.
        </p>

        <ul class="list-unstyled">
          <li>
            <div class="image-wrapper">
              <img src="/assets/images/photography/danielle1.jpg"/>
            </div>
            <div class="single-post-content-wrapper  pt-4">
              <span class="font-italic font-weight-bold">Boudoir</span> - My Boudoir photography sessions
              are directed
              from start to finish and aim to capture artistic, seductive imagery in a voyeuristic fashion.
              The final images from my boudoir sessions are creatively retouched and generally incorporate a
              selection of lingerie and fabrics with topless, implied nude and fully nude images, depending on
              your level of comfort.

              These sessions are scheduled for individuals/couples and are captured before sunset to ensure the
              proper amount of natural light can be utilized. Your session can take place in your hotel room,
              your home or private space to be defined.

              If booking a boudoir session with me, you'll receive a welcome email from me shortly after booking
              with tips and tricks to help you prepare for your session day. We'll also sit and chat on session day
              before we get started.

              You can visit my Frequently Asked Questions page to learn more about what to expect before booking
            </div>
          </li>
          <li class="pt-2 pb-1">

            <div class="image-wrapper float-right pl-3 pt-4">
              <img src="/assets/images/photography/kit-neon-18-bw.jpg"/>
            </div>
            <div class="single-post-content-wrapper">
              <span class="font-italic font-weight-bold">Erotic</span> - The erotic lifestyle photography sessions
              that I offer are a bit different than what you may find with traditional photographers or photography
              studios offering a similarly named session experience. I believe that the artistic purpose of erotic
              photography is to capture the passion, desire and excitement within each unique relationship.

              No one can develop that better than you.

              I'm not going to tell you how to touch each other or yourself, which way to look or how to kiss because
              that's not really capturing the beauty of your intimate relationship. What I will do is give you a guide
              to get started and free up your session time for you to enjoy as you please while I capture what naturally
              unfolds along the way. My sessions are in no way directed as I prefer to use my experience, education
              and creative spirit to grab the most flattering of angles while capturing both the physicality and intimacy
              of your session experience.

              I provide these sessions to clients because it is a common desire among couples from all over the world
              and I'm happy to provide a discreet and comfortable atmosphere for such an exciting experience.
              To me, intimacy is an art form and that is how I aim to capture it.

              These sessions are scheduled for couples and can take place in your hotel room, your home or a hotel
              suite I provide for the session
            </div>
          </li>
          <li class="pt-2 pb-1">
            <div class="image-wrapper float-left pr-3">
              <img src="/assets/images/photography/rachel-angel-04-color.jpg"/>
            </div>
            <div class="single-post-content-wrapper">
              <span class="font-italic font-weight-bold pt-2">Implied</span> - I consider implied sessions as a sub
              category of boudoir where the whole concept rotates around "revealing and concealing". I consider this
              sub genre as one of the sexiest concepts, often more than nudes or more explicit concepts because it
              leaves so much to the imagination and expectations of the spectator. After all, our brain is our most
              erogenous organ, isn't it?
            </div>
          </li>
          <li class="pt-2 pb-1">
            <span class="font-italic font-weight-bold">Nudes & Bodyscapes</span> - I know, this one is pretty
            self explainatory but I like to call it out is because it's a good opportunity to remind that
            not all nude work is the same. I personally love the sensuality of curves, playing with the lights
            and the subject, keeping it elegant and sensual but not vulgar.
          </li>
          <li class="pt-2 pb-1">
            <span class="font-italic font-weight-bold">Voyeur</span> - Voyeurism is often defined as "the
            practice of taking [sexual] pleasure in observing something private, sordid or scandalous". Voyeuristic
            photography is the practice of capturing this through the eyes of the lenses. In my opinion, it recalls
            some of the same vibrations of a POV shot but from an external point perspective.
            Notice that voyeurism in real life can often be a violation of privacy and, in some cases, a real crime.
            The intent of my voyeuristic work is to actually develop the consensual aspect of it in intimate scenes
            and the relation of the voyeur and exhibitionist subjects that take pleasure in being observed.
          </li>
          <li class="pt-2 pb-1">
            <span class="font-italic font-weight-bold">POV</span> - The viewer gets the feeling that she/he’s
            involved in the composition and becomes one with the subject, giving feel that he or she’s part of the action.
            In the context of boudoir, intimate and erotic photography, POV is often viewed as a type of shot that
            involves interaction between model and photographer. This goes from photographer but, for me, it doesn't.
            It really goes from shoot to shoot and defined before the photoshoot by everyone involved.
          </li>
          <li class="pt-2 pb-1">
            <div class="image-wrapper float-right pl-3">
              <img src="/assets/images/photography/bdsm_s.jpg"/>
            </div>
            <div class="single-post-content-wrapper">
              <span class="font-italic font-weight-bold">Adult Lifestyle</span> - As a member of the adult lifestyle
              community and happy husband in an open marriage, I participate to private events and encounters with friends
              and partners in the community. The types of photography captured during these sessions can vary
              significantly and depends on everyone involved, nature of the event, etc.
            </div>
          </li>
          <li class="pt-2 pb-1">
            <span class="font-italic font-weight-bold">Kink</span> - Kink photography spaces between very
            different extremes. My kink mainly rotates around the aesthetics of my photography work and taste in the
            field. A few concepts that I've explored in the past are Dom/sub, Pet Play, Ropes, etc... Overall, I prefer
            a mix of soft and elegant concepts but I'm open to explore different styles and concepts depending on the
            project, so let's explore if you have ideas! That said, there are concepts that are out of my comfort zone:
            extreme degradation, extreme violence and anything that imply lack of consent. Well.. there are probably
            more that I can't think right now but, ask away!
          </li>
        </ul>

      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4 id="preparing-session" class="text-center pt-5">Preparing for a session</h4>
        <p>Preparing for a session is very important. Actually, I believe it's even more important!
          It's where most of the communication and decisions happen:
        </p>
        <ul class="list-unstyled">
          <li><span class="font-italic font-weight-bold">Introductions First!</span> Before we start, I always ask
            my collaborators and clients to fill out a form. This form serves several purposes:
            <ol style="list-style-type: lower-roman;" class="pb-3">
              <li><span class="font-italic font-weight-bold">Get to know more about you</span> Knowing the person I'm
                shooting with is really important. Your likes, dislikes, personality, goals, etc... all helps when
                working together in finding concepts, styles and setting up the photo shoot in a way that is the
                most comfortable and personal as possible.
              </li>
              <li><span class="font-italic font-weight-bold">Define goals</span> Not everyone wants to do a photoshoot
              for the same reasons. Understanding the needs helps us to be on the same page and optimize for the goals
              we are setting.</li>
              <li><span class="font-italic font-weight-bold">Define boundaries and comfort zones</span> It's really
              important that we define these before starting to brainstorm and collaborate on concepts. Intimate
              photography is very personal and understanding the concepts, topics, comfort zones and all helps to
              avoid unnecessary stress and builds trust/security because we are creating a safe zone where the
              boundaries and dynamics are clearly set.</li>
              <li><span class="font-italic font-weight-bold">Clarify and iterate basic information</span> During the
              process of filling out the form, we'll go over some information that is important: expectations, usage of
              images, crediting, sharing, etc... </li>
              <li><span class="font-italic font-weight-bold">Prepare a collaboration or release agreement</span> The
              information filled out on the form will be used to create a collaboration/release agreement that we sign
              when we shoot, right beforewe start, so that we have the piece of mind of shooting with a written agreement</li>
              <li><span class="font-italic font-weight-bold">start with the right foot!</span> Ultimately, starting with
              the right foot, with the right information and knowing all these things is really important to create
              a trustful, transparent, respectful (yet fun) collaboration.</li>
            </ol>
          </li>
          <li><span class="font-italic font-weight-bold">Discussing and picking concepts:</span> Now to the fun part!
            During the days and weeks before the shoot, we'll work on what concepts we see for the
            shoot, brainstorm on different types of outfits, locations, accessories, etc..
            To help with the process, I usually create private boards on Pinterest where we can collect ideas,
            proposals and the concepts that we are targeting for the shoot.
          </li>
          <li><span class="font-italic font-weight-bold">Setting the location and date:</span> This is very flexible
            and depends a lot on the concepts we have in mind. In general, it can be anywhere from my home studio to
            an outdoor location to your home or a rented location. The time and duration also depends on these factors
            as well as everyone's availability and number of concepts that we are shooting.
          </li>
          <li><span class="font-italic font-weight-bold">Clear and timely communication:</span> Many things can happen
            from the moment we select a date & time and the shooting itself. It's ok and not a problem, as far as
            we communicate any change of mind about the concepts/wardrobe, inability to shoot at the selected time
            and location or really anything relevant.
          </li>
        </ul>

      </div>
    </div>


  </div>
</section>

<section class="pt-4">

  <div id="testimonials" class="container  justify-content-center">
    <div class="row">
      <div class="col">
        <h4 class="text-center pt-5">Testimonials</h4>

      </div>
    </div>

    <div class="row justify-content-center px-2 fancy-cards">
      <div class="col-lg-6 col-12 mt-5 ">
        <div class="card mt-3 ">
          <div class="layer"></div>
          <div class="content">
            <div class="card-header text-center border-0">
              <div class="row justify-content-center my-4">
                <div class="col">
                  <div class="d-flex flex-lg-row flex-column-reverse no-gutters justify-content-center">
                    <div class="col-3 text-right">
                      <img class="img-fluid quotes" src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png" width="110" height="110">
                    </div>
                    <div class="col pr-lg-5"><img class=" img-1 mr-lg-5 mb-sm-0 mb-3" src="/assets/images/photography/bdsm_s.jpg"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body text-center pb-3 pt-sm-2">
              <div class="row justify-content-center">
                <div class="col text-center justify-content-center ">
                  <p class="bold text-center px-md-3"> What a pleasure to work with. Made me feel super comfortable and
                    checked in with me along the way. We will definitely be working together again! I love how the
                    photos turned out! I had a blast..... Thank you!
                  </p>
                </div>
              </div>
            </div>
            <hr class="mt-auto mb-4">
            <div class="card-footer text-center border-0 mt-0 pt-0 mb-sm-3 mb-0">
              <div class="row text-center name mt-auto ">
                <div class="col">
                  <h4 class="mb-0 Elizabeth">Whitney ATX</h4>
                  <small class="mt-0 text-white">Model - Austin, Tx</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 mt-5 ">
        <div class="card mt-3 ">
          <div class="layer"></div>
          <div class="content">
            <div class="card-header text-center border-0">
              <div class="row justify-content-center my-4">
                <div class="col">
                  <div class="d-flex flex-lg-row flex-column-reverse no-gutters justify-content-center">
                    <div class="col-3 text-right">
                      <img class="img-fluid quotes" src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png" width="110" height="110">
                    </div>
                    <div class="col pr-lg-5">
                      <img class=" img-1 mr-lg-5 mb-sm-0 mb-3" src="/assets/images/photography/mabel-pearls-10.jpg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body text-center pb-3 pt-sm-2 ">
              <div class="row justify-content-center">
                <div class="col text-center justify-content-center ">
                  <p class="bold text-center px-md-3"> Joe is wonderful! Lots of communication before the shoot and
                    during the shoot. He's very professional and helpful. I'd love to work with him again!
                  </p>
                </div>
              </div>
            </div>
            <hr class="mt-auto mb-4">
            <div class="card-footer text-center border-0 mt-0 pt-0 mb-sm-3 mb-0">
              <div class="row text-center name mt-auto ">
                <div class="col">
                  <h4 class="mb-0 Elizabeth">Jilly James</h4> <small
                        class="mt-0 text-white">Model - Cleveland, OH</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
