<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
<!--&lt;!&ndash;  &lt;!&ndash; Bootstrap &ndash;&gt;&ndash;&gt;-->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/bootstrap/bootstrap.min.css">
<!--  &lt;!&ndash; slick slider &ndash;&gt;-->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/slick/slick.css">
<!--  &lt;!&ndash; themefy-icon &ndash;&gt;-->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/themify-icons/themify-icons.css">

<!--  &lt;!&ndash; Main Stylesheet &ndash;&gt;-->
  <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">
<!--  <link rel="stylesheet" href="{{ site.baseurl }}/assets/fg/css/added-style.css">-->
  
  <!--Favicon-->
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon">


<!--  -------- NEW ------ -->

<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->


<!--    <title>Fluid Gallery HTML5 CSS3 Template</title>-->
<!--&lt;!&ndash;-->
<!--Fluid Gallery Template-->
<!--http://www.templatemo.com/tm-500-fluid-gallery-->
<!--&ndash;&gt;-->
<!--    &lt;!&ndash; load stylesheets &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">-->
<!--    &lt;!&ndash; Google web font "Open Sans" &ndash;&gt;-->
<!--    <link rel="stylesheet" href="{{ site.baseurl }}/assets/fg/Font-Awesome-4.7/css/font-awesome.min.css">-->
<!--    &lt;!&ndash; Font Awesome &ndash;&gt;-->
<!--    <link rel="stylesheet" href="{{ site.baseurl }}/assets/fg/css/bootstrap.min.css">-->
    <!-- Bootstrap style -->
<!--    <link rel="stylesheet" href="{{ site.baseurl }}/assets/fg/css/hero-slider-style.css">-->
<!--    &lt;!&ndash; Hero slider style (https://codyhouse.co/gem/hero-slider/) &ndash;&gt;-->
<!--    <link rel="stylesheet" href="{{ site.baseurl }}/assets/fg/css/magnific-popup.css">-->
<!--    &lt;!&ndash; Magnific popup style (http://dimsemenov.com/plugins/magnific-popup/) &ndash;&gt;-->
<!--    <link rel="stylesheet" href="{{ site.baseurl }}/assets/fg/css/templatemo-style.css">-->

<!--    &lt;!&ndash; HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries &ndash;&gt;-->
<!--    &lt;!&ndash; WARNING: Respond.js doesn't work if you view the page via file:// &ndash;&gt;-->
<!--        &lt;!&ndash;[if lt IE 9]>-->
<!--          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
<!--          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
<!--          <![endif]&ndash;&gt;-->

<!--        &lt;!&ndash; These two JS are loaded at the top for gray scale including the loader. &ndash;&gt;-->

<!--        <script src="{{ site.baseurl }}/assets/fg/js/jquery-1.11.3.min.js"></script>-->
<!--        &lt;!&ndash; jQuery (https://jquery.com/download/) &ndash;&gt;-->

<!--        <script>-->

<!--            var tm_gray_site = false;-->

<!--            if(tm_gray_site) {-->
<!--                $('html').addClass('gray');-->
<!--            }-->
<!--            else {-->
<!--                $('html').removeClass('gray');-->
<!--            }-->
<!--        </script>-->

</head>
